<div style="margin: 0 200px;">
  <h1 id="welcome">Welcome to auto-redirect service</h1>
  <h2 style="color: #0080FF;">We are in the process of shifting our servers</h2>
  <ul>
    <li>This process will not interrupt any of your services.</li>
    <li>All work continues as usual.</li>
    <li>We will remove this intimation as soon as server has successfully been shifted.</li>
  </ul>
  <p>We thank you for your support and patronage.</p>
  <p>Regards, <span style="color: #0080FF;">Support Team</span></p>
</div>